/****************
*
* Media Querys
*
*****************/
@media only screen {
    @media (min-width: 768px) {
        .navbar-right {
            margin-right: 0;
        }
        .navbar-brand{
            margin-left: 8px !important;
        }
    }
    @media (min-width: 768px) {
        .navbar-right {
            margin-right: 0;
        }
        .navbar-brand{
            margin-left: 8px !important;
        }
    }
    @media (max-width: 768px) {
        .rhs_menu {
            .navbar-header{
                .navbar-brand{
                    margin-left: 3px !important;
                }
            }
        }
        .navbar-nav {
            margin: 1.5px 0;
        }
        .primeiro-menu {
            .navbar-nav > .no-mobile {
                > li {
                    > a {
                        float: left;
                    }
                    &:first-child > a {
                        padding: {
                            right: 95px !important;
                            left: 119px;
                        }
                    }
                    &:last-child > a {
                        padding-left: 123px !important;
                    }
                }

                .open {
                    .dropdown-menu {
                        > li {
                            > a {
                                color: #fff;
                                padding: 13px 15px 11px 25px;
                            }
                        }
                    }
                }
            }
            .mobile-nav {
                li {
                    > a {
                        color: #fff;
                        img {
                            margin: {
                                left: 7px;
                                right: 2px;
                            }
                            width: 30px;
                            height: 30px;
                        }
                        &:first-child {
                            border-top: 1px solid rgba(0, 180, 180, 0.46);
                            margin-top: -2px;
                            padding-right: 0;
                            white-space: nowrap;
                        }
                    }
                    &.pub a {
                        padding-right: 222px;
                    }
                    &.perf a {
                        padding-right: 246px;
                    }
                    &.sair a {
                        padding-right: 294px !important;
                    }
                }
                > a {
                    color: map-get($colors, pacific );
                    > img {
                        margin: {
                            left: 7px;
                            right: 2px;
                        }
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .dropdown-menu-right {
                .user-dropdown {
                    a.user-dropdown-link {
                        float: right;
                        margin-top: 7px;
                        padding: {
                            bottom: 5px;
                            top: 6px;
                        }
                    }
                }
            }
        }
        .segundo-menu {
            .dropdown-menu-right {
                margin: 0px -14px 0px 0px;
                width: 31%;
                float: right;
                .dropdown-menu {
                    position: absolute;
                    margin-top: 42px !important;
                    left: -98px;
                    li a {
                        padding: 10px 10px;
                        margin-right: -3px;
                    }
                }
            }
            .mobile-nav {
                li {
                    a {
                        &:first-child {
                            border-top: 1px solid rgba(0, 60, 70, 0.27);
                            margin-top: -3px;
                        }

                        &:last-child {
                            padding-left: 16px !important;
                            white-space: nowrap;
                            float: left;
                            font-size: 17px !important;
                        }
                    }
                }
                .menu-item {
                    a {
                        padding-right: 300px !important;
                    }
                }
            }
        }
        .primeiro-menu, .segundo-menu {
            #menuPesquisa input[type=text] {
                width: 100% !important;
            }
            .form-search-rhs {
                padding: 1px 0px;
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
        #menu-segundo-menu {
            margin: 0px -15px;
        }

        /*Footer*/
        footer {
            > .container {
                padding: {
                    left: 0px;
                    right: 0px;
                }
            }
            .footerMenu .navbar-default a {
                margin-left: 33px;
                padding-top: 7px 0px 0px 0px;
            }
        }
    }

    @media (width: 1024px){
        .navbar-default .navbar-brand > img{
           margin-left: 48px; 
        }
    }

    @media (width: 768px) and (height: 1024px) {
        .primeiro-menu
        .dropdown-menu-right
        .user-dropdown
        a.user-dropdown-link {
            margin-top: 23px;
        }

        .segundo-menu {
            .dropdown-ipad {
                margin: 0px -14px 0px 0px;
                width: 14% !important;
                float: right;
                .dropdown-menu {
                    position: absolute;
                    margin-top: -1px !important;
                    left: -98px;
                }
            }
        }
        .primeiro-menu .navbar-nav > li:first-child > a {
            padding-right: 0px !important;
        }
        .primeiro-menu .navbar-nav > li:last-child > a {
            padding-left: 0px !important;
        }
    }

    @media (max-width: 414px) {
        .segundo-menu {
            .dropdown-menu-right {
                .dropdown-menu {
                    left: -41px;
                }
            }
        }
    }

    @media (min-width: 412px) and (max-width: 414px) {
        .navbar-default .navbar-collapse .navbar-nav > .navbar-text {
            margin-right: 46px;
        }
    }

    @media (max-width: 360px) {
        .navbar-header .navbar-brand {
            margin: {
                left: 7px;
                top: 3px;
            }
        }
        .display-panel {
            margin: .2em;
        }
        .segundo-menu {
            .dropdown-menu-right {
                .dropdown-menu {
                    left: -60px;
                }
            }
        }
    }

    @media (max-width: 320px) {
        .navbar-header .navbar-brand {
            margin: {
                left: 0 !important;
                top: -49px !important;
            }
            width: 89%;
        }
        .navbar-btn {
            margin: {
                bottom: -42px;
                top: 8px;
            }
        }
        .segundo-menu .dropdown-menu-right {
            width: 34%;
        }
    }

}

